---
import Layout from "@layouts/Layout.astro";
import Grid from "@components/media/Grid.astro";
import { IconArrowLeft } from "@tabler/icons-preact";
import { fetchMusicWeek } from "@utils/data/music/week.js";
import { shuffleArray } from "@utils/helpers/general.js";

export const prerender = true;

export const getStaticPaths = async ({ paginate }) => {
  const music = await fetchMusicWeek();
  const weeklyAlbums = music.week.albums;

  return paginate(weeklyAlbums, {
    pageSize: 16,
  });
};

const { page } = Astro.props;

const paginatedAlbums = page.data;
const pagination = {
  currentPage: page.currentPage,
  totalPages: page.lastPage,
  hasPrevious: page.currentPage > 1,
  hasNext: page.currentPage < page.lastPage,
  previousPage: page.url.prev || null,
  nextPage: page.url.next || null,
  pages: Array.from({ length: page.lastPage }, (_, i) => ({
    number: i + 1,
    href:
      i === 0 ? `/music/this-week/albums` : `/music/this-week/albums/${i + 1}`,
  })),
};

const pageTitle =
  pagination.currentPage === 1
    ? "Albums I've listened to this week"
    : `Albums I've listened to this week / page ${pagination.currentPage}`;
const description =
  "These are the albums I've been listening to this week. All of them are awesome.";
---

<Layout
  pageTitle={pageTitle}
  description={description}
  fullUrl={Astro.url.pathname}
  ogImage={shuffleArray(page.data)[0]?.image}
>
  <a href="/music" class="back-link">
    <IconArrowLeft size={18} /> Back to Music
  </a>
  {
    pagination.currentPage === 1 && (
      <>
        <h2 class="page-title">{pageTitle}</h2>
        <p>{description} Listed in descending order from most plays to least.</p>
        <p><strong class="highlight-text">You can also take a look at</strong> the <a href="/music/this-week/artists">artists I've listened to this week</a>, <a href="/music/this-month/artists">the artists I've listened to this month</a> or <a href="/music/this-month/albums">the albums I've listened to this month.</a>.</p>
        <p><a href="/music/concerts">I keep track of the concerts I've been to too.</a></p>
        <hr />
      </>
    )
  }
  <Grid
    data={paginatedAlbums}
    pagination={pagination}
    shape="square"
    count={16}
    loading="eager"
  />
</Layout>
