---
import { fetchBooks } from "@utils/data/books.js";
import { fetchLinks } from "@utils/data/links.js";
import { fetchMovies } from "@utils/data/movies.js";
import { fetchMusicWeek } from "@utils/data/music/week.js";
import { fetchShows } from "@utils/data/tv.js";
import icons from "@cdransf/astro-tabler-icons";
import Rss from "@components/blocks/banners/Rss.astro";

const { IconActivity } = icons;
const [music, tv, movies, books, links] = await Promise.all([
  fetchMusicWeek(),
  fetchShows(),
  fetchMovies(),
  fetchBooks(),
  fetchLinks(),
]);

const artist = music.week?.artists[0];
const track = music.week?.tracks[0];
const show = tv.recentlyWatched[0];
const movie = movies.recentlyWatched[0];
const book = books.currentYear[0];
const link = links[0];
---

<article>
  <h2>
    <div set:html={IconActivity({ size: 24 })} />
    Recent activity
  </h2>
  <p>
    <span class="music">Top artist this week:</span>
    <a href={artist.artist_url} data-astro-prefetch>{artist.artist_name}</a> with <strong class="highlight-text">{artist.plays} plays</strong>
  </p>
  <p>
    <span class="music">Top track this week:</span>
    <a href={track.artist_url} data-astro-prefetch
      >{track.track_name} by {track.artist_name}</a
    >
  </p>
  <p>
    <span class="tv">Last episode watched:</span>
    <strong class="highlight-text">{show.formatted_episode}</strong> of <a
      href={show.url}
      data-astro-prefetch>{show.title}</a
    >
  </p>
  <p>
    <span class="movies">Last movie watched:</span>
    <a href={movie.url} data-astro-prefetch>{movie.title}</a>{
      movie.rating ? ` (${movie.rating})` : ""
    }
  </p>
  <p>
    <span class="books">Last book finished:</span>
    <a href={book.url} data-astro-prefetch>{book.title}</a> by {book.author}{
      book.rating ? ` (${book.rating})` : ""
    }
  </p>
  <p>
    <span class="link">Last link shared:</span>
    <a href={link.link}>{link.title}</a>
    {
      link.author && (
        <span>
          {" "}
          via <a href={link.author.url}>{link.author.name}</a>
        </span>
      )
    }
  </p>
  <Rss
    url="/feeds"
    text="Subscribe to my movies, books, links or activity feed(s)"
  />
</article>
