---
import AssociatedMedia from '@components/blocks//AssociatedMedia.astro';
import GitHub from '@components/blocks/banners/GitHub.astro';
import Hero from '@components/blocks//Hero.astro';
import Modal from '@components/blocks//Modal.astro';
import YouTubePlayer from '@components/blocks//YouTubePlayer.astro';
import { md } from '@utils/helpers.js';

const { block } = Astro.props;
const htmlContent = block.type === 'markdown' ? md(block.text) : '';
---

{block.type === 'youtube_player' && (
  <YouTubePlayer url={block.url} />
)}

{block.type === 'hero' && (
  <Hero image={block.image} alt={block.alt} />
)}

{block.type === 'markdown' && (
  <div set:html={htmlContent}></div>
)}

{block.type === 'modal' && (
  <Modal content={block.content} />
)}

{block.type === 'associated_media' && (
  <AssociatedMedia media={block.media} />
)}

{block.type === 'github_banner' && (
  <GitHub url={block.url} />
)}