---
import NavLink from "@components/nav/NavLink.astro";
import { fetchGlobalData } from "@utils/data/global/index.js";

const { nav } = await fetchGlobalData(Astro);
---

<footer>
  <nav aria-label="Social icons" class="social">
    {
      nav.footer_icons.map((link) => (
        <NavLink url={link.permalink} title={link.title} icon={link.icon} />
      ))
    }
  </nav>
  <nav aria-label="Secondary site navigation" class="sub-pages">
    {
      nav.footer_text.map((link, index) => (
        <>
          <NavLink url={link.permalink} title={link.title} icon={link.icon} />
          {index < nav.footer_text.length - 1 && <span>/</span>}
        </>
      ))
    }
  </nav>
</footer>
